# Python
/env/
/build/
*.py[co]
*.egg*
.cache
.DS_Store

# Emacs
*~
.\#*
\#*\#

# Mac
.DS_Store

# Pycharm
*/.idea/

.coverage
cover

coverage.xml
jenkins.xml
junit.xml
.ipynb_checkpoints

*.aux

.Rhistory
env/
*.tmp

# VS code
*/.vscode/

CarND-Term1-Starter-Kit-Test/
CarND-Behavioral-Cloning-P3/run2
CarND-Behavioral-Cloning-P3/data
CarND-Mercedes-SF-Utilities/
CarND-Vehicle-Detection/data
CarND-Unscented-Kalman-Filter-Project/build/
CarND-Extended-Kalman-Filter-Project/build/
